<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <sessionState  cookieless="false"  timeout="30"/>
  </system.web>

  <connectionStrings>
    <add name="sqlconnection" connectionString="Data Source=RAJU-PC;Initial Catalog=Schedule;Integrated Security=True"
/> 
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
 
</configuration>
